[flake8]
ignore = D103
max-line-length = 110
inline-quotes = double
exclude =
    .git
    .tox
    __pycache__
    build
    dist
    tests
    *.pyc
    *.egg-info
    .cache
    .eggs
    env*
application-import-names = dockertidy
format = ${cyan}%(path)s:%(row)d:%(col)d${reset}: ${red_bold}%(code)s${reset} %(text)s
